<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Andrey Vinajera-Zamora">
    <meta name="keywords" content="operation research, linear programming, optimization">
    <title>Linear programming results</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    {% load static %}
    <script type="text/javascript" src="{% static 'js_script.js' %}"></script>
<!--    <script type="text/javascript" src="D:/_Installers/MathJax-2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
</head>
<body>
    <article>
        <header>
                <div>
                    <div id="logo">
                        TORP
                    </div>
                    <div style="text-align:center;">
                        <h1> Tools for Operation Research's Problems. </h1>
                        <h3><i>Support for teachers and students</i></h3>
                    </div>
                </div>
        </header>
        <br>
        <hr style="clear: both; border-width: 1px">
            <section class="data_zone">
            <h1 style="text-align: center;"> Solution of the problem </h1>
                <table class="data" >
                    <tr>
                        <td>HELLO  SOLUTION</td>
                    </tr>
                </table>
        </section>
<!--        </form>-->
          <hr style="clear: both; border-width: 1px">
    </article>
    <footer>
            <div>
                <div>
                    {% load static %} <img style="border-radius: 40px;width: 80px; margin-left: 35px" id="img_mine" src="{% static 'me2.png' %}" >
                </div>
                <div>
                    <p>Copyright &copy; 2021 <br>  Central University "Marta Abreu" of Las Villas <br>
                    Faculty of Mechanics and Industrial Engineering <br>
                    Department of Industrial Engineering</p>
                </div>
            </div>
        </footer>
        <script>
            update_description("linprog");
        </script>

</body>
</html>