<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Andrey Vinajera-Zamora">
    <meta name="keywords" content="inventory's system, models">
    <title>Data of the inventory's problem</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    {% load static %}
    <script type="text/javascript" src="{% static 'js_script.js' %}"></script>
    <script type="text/javascript" src="D:/_Installers/MathJax-2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
    <article>
        <header>
                <div>
                    <div id="logo">
                        TORP
                    </div>
                    <div style="text-align:center;">
                        <h1> Tools for Operation Research's Problems. </h1>
                        <h3><i>Support for teachers and students</i></h3>
                    </div>
                </div>
        </header>
        <br>
        <hr style="clear: both; border-width: 1px">
        <form action="results/" method="post">
            <section>
                <h1 style='text-align: center; margin-bottom:5px'>Data description</h1>
                <table class="data">
                     {% csrf_token %}
                    {% for field in form %}
                        <tr class="fieldWrapper">
                            <td>{{ field.errors }}</td>
                            <td class="firstcolumn">{{ field.label_tag }} {{ field }}</td>
                            <td>
                                {% if field.help_text %}
                                {{ field.help_text|safe }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                        <tr><td colspan="3" style="text-align: center; font-weight:bold"><input type="submit" value="SOLVE"></td></tr>
                        <tr></tr>
                </table>
                <br>
                <br>
            </section>
        </form>
<!--        <table>-->
<!--            <tr><th><label for="id_form-0-title">Title:</label></th><td><input type="text" name="form-0-title" value="Django is now open source" id="id_form-0-title"></td></tr>-->
<!--<tr><th><label for="id_form-0-pub_date">Pub date:</label></th><td><input type="text" name="form-0-pub_date" value="2008-05-12" id="id_form-0-pub_date"></td></tr>-->
<!--<tr><th><label for="id_form-1-title">Title:</label></th><td><input type="text" name="form-1-title" id="id_form-1-title"></td></tr>-->
<!--<tr><th><label for="id_form-1-pub_date">Pub date:</label></th><td><input type="text" name="form-1-pub_date" id="id_form-1-pub_date"></td></tr>-->
<!--<tr><th><label for="id_form-2-title">Title:</label></th><td><input type="text" name="form-2-title" id="id_form-2-title"></td></tr>-->
<!--<tr><th><label for="id_form-2-pub_date">Pub date:</label></th><td><input type="text" name="form-2-pub_date" id="id_form-2-pub_date"></td></tr>-->
<!--        </table>-->
        <hr style="clear: both; border-width: 1px">
    </article>
        <footer>
            <div>
                <div>
                    {% load static %} <img style="border-radius: 40px;width: 80px; margin-left: 35px" id="img_mine" src="{% static 'me2.png' %}" >
                </div>
                <div>
                    <p>Copyright &copy; 2021 <br>  Central University "Marta Abreu" of Las Villas <br>
                    Faculty of Mechanics and Industrial Engineering <br>
                    Department of Industrial Engineering</p>
                </div>
            </div>
        </footer>
        <script>
            update_description("inventory");
        </script>
</body>
</html>