<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inventory</title>
</head>
<body>
      <form action="/results/" method="post">
<!--    {% csrf_token %}-->
<!--    {{ form.as_table }}-->
<!--          #####-->
<!--          <table>-->
<!--              {% for field in form %}-->
<!--                <tr class="fieldWrapper">-->
<!--                    {{ field.errors }}-->
<!--                    {{ field.label_tag }} {{ field }}-->
<!--                    {% if field.help_text %}-->
<!--                    <p class="help">{{ field.help_text|safe }}</p>-->
<!--                    {% endif %}-->
<!--                </tr>-->
<!--          {% endfor %}-->
<!--          </table>-->

<!--          <table>-->
<!--              {{ form.non_field_errors }}-->
<!--                <tr class="fieldWrapper">-->
<!--                    {{ form.unit.errors }}-->
<!--                    <td><label for="{{ form.unit.id_for_label }}">Unit:</label></td>-->
<!--                    <td>{{ form.unit }}</td> <td>eg: products, car, etc.</td>-->
<!--                </tr>-->
<!--                  <tr class="fieldWrapper">-->
<!--                    {{ form.time_unit.errors }}-->
<!--                    <td><label for="{{ form.time_unit.id_for_label }}">Time's unit:</label></td>-->
<!--                      <td>{{ form.time_unit }}</td>-->
<!--                      <td>eg: day, month, year, etc.</td>-->
<!--                </tr>-->
<!--                  <tr class="fieldWrapper">-->
<!--                    {{ form.model.errors }}-->
<!--                      <td><label for="{{ form.model.id_for_label }}">Model:</label></td>-->
<!--                      <td colspan="2"> {{ form.model }}</td>-->
<!--                </tr>-->
<!--          </table>-->

<!--            <table>-->
<!--                {{ form.non_field_errors }}-->
<!--                {% for field in form %}-->
<!--                    <tr class="fieldWrapper">-->
<!--                        {{ field.errors }}-->
<!--                        <td><label> {{ field.label_tag }}</label></td>-->
<!--                        <td>{{ field }}</td>-->
<!--&lt;!&ndash;                        <td><label>{{field.label_suffix_tag}}</label></td>&ndash;&gt;-->
<!--                    </tr>-->
<!--                {% endfor %}-->
<!--            </table>-->
<!--    <input type="submit" value="Submit">-->
</form>
</body>
</html>